.wrapper {
  height: 100%;
  width: 100%;
  font-family: $font-raleway;
  position: relative;
  .backg {
    height: 100%;
    width: 100%;
    background-image: url("../img/onepage_restaurant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mywhite;
    position: absolute;
  }
.container {width: 100%;
  height: 100%;
  background-color: rgba(88, 88, 92, 0.281);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
   .menu_lentele {
    width: 35%;
    height: 60%;
    position: absolute;
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 3fr 2fr;
    font-family: $font-raleway;
    animation: move 1s linear  alternate;
    @media (max-width: $md) {
      width: 50%;
    }
    .lentele_block {
      width: 100%;
      flex-wrap: wrap;
      display: flex;
      color: $black;
      .isjungti {
        position: absolute;
        color: $mywhite;
        width: 30px;
        height: 30px;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: $mywhite;
          color: $black;
          cursor: pointer;
        }
      }
      .lentele_virsus {
        font-size: $medium;
        width: 100%;
        height: 35%;
        background-color: $black;
        color: $mywhite;
        display: flex;
        align-items: center;
        padding-left: 10px;
      }
      p {
        width: 100%;
        padding-left: 10px;
        font-size: $xsmall;
        span {
          font-weight: 900;
        }}
      }
    }
    .contact_lentele {
      width: 35%;
      height: 40%;
      position: absolute;
      background-color: white;
      font-family: $font-raleway;
      // animation: move 1s linear  alternate;
      // @media (max-width: $md) {
      //   width: 50%;
      // }
      .lentele_block1 {
        height: 100%;
        width: 100%;
        color: $black;
        width: 100%;
          .isjungti {
          position: absolute;
          color: $mywhite;
          width: 30px;
          height: 30px;
          right: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: $mywhite;
            color: $black;
            cursor: pointer;
          }
        }
        .lentele_virsus1 {
          font-size: $medium;
          width: 100%;
          height: 15%;
          background-color: $black;
          color: $mywhite;
          display: flex;
          align-items: center;
          padding-left: 10px;
        }
        h1 { padding: 10px;
          width: 100%;
          height: 15%;
          }
                    .input { 
            width: 100%;
            border: 1px solid grey;
          }
          .forma { height: 70%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap; 
            justify-content: space-between;
            @media (max-width: $md) {
              margin-right: 10px;
            }
            
            input {
              height: 40px;
              width: 95%;
              margin: 5px 10px;
            }
            button {
              margin-top: 10px;
              margin-left: 10px;
              background-color: white;
              &:hover {
                background-color: grey;
              }
            }
          }
        }
        }
      }
  }
  h4 {
    font-size: $large;
    position: absolute;
    justify-content: center;
    text-align: center;
  }
  .block {
    width: 98%;
    height: 98%;
    .left {
      width: 30%;
      height: 100%;
      display: grid;
      .virsus {
        padding-top: 20px;
        .menu {
          margin-bottom: 30px;
          width: 80px;
        }
        .contact {
          width: 120px;
        }
      }
      .apacia {
        position: relative;
        .text1 {
          position: absolute;
          bottom: 80px;
          font-size: $small;
          font-weight: 100;
        }
        .text2 {
          position: absolute;
          bottom: 40px;
          font-size: $xsmall;
        }
        .text3 {
          position: absolute;
          bottom: 0;
          font-size: $xxsmall;
          a {
            color: $mywhite;
            text-decoration: underline;
          }
        }
      }
    }}
  


.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: $black;
  
  color: $mywhite;
  font-size: $small;
  font-family: $font-raleway;
  &:hover {
    background-color: $mywhite;
    color: $black;
  }
}
.on {
  z-index: 3;
  @keyframes move {
    from {transform: scale(0); }
    to {transform: scale(1); }
  }
}