.wrapper {
  height: 100%;
  width: 100%;
  background-image: url("../img/onepage_restaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $mywhite;
  font-family: $font-raleway;
  h4 { 
    font-size: $large;
    position: absolute;
    justify-content: center;
    text-align: center;
  }
  .block {
    width: 98%;
    height: 98%;
      .left {
      width: 30%;
      height: 100%;
      display: grid;
      .virsus {
        padding-top: 20px;
        .menu {
          width: 80px;
        }
        .contact {
          width: 120px;
        }
      }
      .apacia {
        position: relative;
        .text1 {
          position: absolute;
          bottom: 80px;
          font-size: $small;
          font-weight: 100;
        }
        .text2 {
          position: absolute;
          bottom: 40px;
          font-size: $xsmall;
        }
        .text3 {
          position: absolute;
          bottom: 0;
          font-size: $xxsmall;
          a {
            color: $mywhite;
            text-decoration: underline;
          }
        }
      }
    }
    
  }
}

button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 30px;
  background-color: $black;
  color: $mywhite;
  font-size: $small;
  font-family: $font-raleway;
  &:hover {
    background-color: $mywhite;
    color: $black;
  }
}
