// Font family
$font-raleway: 'Raleway',
monospace;
$font-noto: 'Noto Sans JP',
sans-serif;
// Font size
$xxsmall: 10px;
$xsmall: 12px;
$small: 18px;
$normal: 23px;
$medium: 35px;
$large: 55px;
// Media
$sm: 400px;
$md: 720px;
$xl: 920px;
$xxl: 2000px;
// Color
$mywhite: white;
$black: rgb(0, 0, 0);
$blue: #35d3ab;