// Font family
$font-roboto: 'Roboto Mono',
monospace;
$font-noto: 'Noto Sans JP',
sans-serif;
// Font size
$small: 18px;
$normal: 23px;
$medium: 35px;
$large: 55px;
// Media
$sm: 400px;
$md: 720px;
$xl: 920px;
$xxl: 2000px;
// Color
$myblack: rgba(34, 34, 34, 0.913);
$grey: rgb(80, 80, 80);
$blue: #35d3ab;